mixin last-news()
	.last-news&attributes(attributes)
		._container
			+title('Последние новости')(class="last-news__title")
			._list
				._item
					img._img(src="assets/images/last-news/1.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/2.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/3.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/4.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/5.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/6.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/7.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
				._item
					img._img(src="assets/images/last-news/8.jpg" alt="")
					+date('02.02.21')
					._caption Бесплатная регистрация
					._text Серверы сбалансированной конфигурации по хорошей цене в Украине
					+read-more('news-detail.html')
			+more('Еще новости')(class="last-news__more")