mixin top-games()
	.top-games&attributes(attributes)
		._container
			+title('Топ игр')(class="top-games__title")
			._list
				a._link(href="game.html")
					img._img(src="assets/images/top-games/1.jpg" alt="")
					._caption The Crew 2 (5 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/2.jpg" alt="")
					._caption Antigraviator (15 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/3.jpg" alt="")
					._caption Far Cry 5 (7 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/4.jpg" alt="")
					._caption Quantum Replica (36 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/5.jpg" alt="")
					._caption Agony (125 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/6.jpg" alt="")
					._caption Moonlighter (56 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/7.jpg" alt="")
					._caption The Watchmaker (11 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/8.jpg" alt="")
					._caption Dark Souls: Remastered (12 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/9.jpg" alt="")
					._caption The Crew 2 (5 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/10.jpg" alt="")
					._caption Antigraviator (15 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/11.jpg" alt="")
					._caption Far Cry 5 (7 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/12.jpg" alt="")
					._caption Quantum Replica (36 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/13.jpg" alt="")
					._caption Agony (125 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/14.jpg" alt="")
					._caption Moonlighter (56 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/15.jpg" alt="")
					._caption The Watchmaker (11 лотов)
				a._link(href="game.html")
					img._img(src="assets/images/top-games/16.jpg" alt="")
					._caption Dark Souls: Remastered (12 лотов)
			+more('Еще игр')(class="top-games__more")