mixin nav()
	.nav&attributes(attributes)
		a._link(href="guarantees.html") гарантии
		a._link(href="catalog.html") каталог
		a._link(href="workflow.html") как работает
		a._link(href="reviews.html") отзывы
		a._link(href="seller.html") стать продавцом