mixin catalog()
	.catalog&attributes(attributes)
		._container
			._row
				+title('Список игр')(class="catalog__title")
				+sort()(class="catalog__sort")
			._list
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Fast & Furious: Showdown
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Grand Theft Auto 5
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Counter-Strike: Global Offensive
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
				._item
					a._caption(href="game.html") Battlefield 3
					a._link(href="#") Валюта
					a._link(href="#") Услуги
					a._link(href="#") Предметы
					a._link(href="#") Аккаунты
					a._link(href="#") Обучение
			+more('Еще игры')(class="catalog__more")
