
include ../../blocks/header/header
include ../../blocks/account-link/account-link
include ../../blocks/logo/logo
include ../../blocks/nav/nav
include ../../blocks/search/search
include ../../blocks/banner/banner
include ../../blocks/slogan/slogan
include ../../blocks/features/features
include ../../blocks/reviews-slider/reviews-slider
include ../../blocks/title/title
include ../../blocks/top-games/top-games
include ../../blocks/more/more
include ../../blocks/last-news/last-news
include ../../blocks/read-more/read-more
include ../../blocks/date/date
include ../../blocks/footer/footer
include ../../blocks/phone/phone
include ../../blocks/email/email
include ../../blocks/subscribe/subscribe
include ../../blocks/address/address
include ../../blocks/copyright/copyright
include ../../blocks/catalog/catalog
include ../../blocks/sort/sort