mixin reviews-slider()
	.reviews-slider&attributes(attributes)
		._container
			+title('Отзывы о нас')(class="reviews-slider__title")
			._slider
				._item.-vk
					._count 36 589
					._text Отзывов во Вконтакте
				._item.-fb
					._count 361 589
					._text Отзывов в Facebook
				._item.-goharu
					._count 671
					._text Отзывов в Goharu
				._item.-site
					._count 319
					._text Отзывов на нашем сайте