extends layouts/default
block title
    title Easy Gaming
block link
    link(rel="stylesheet" href="assets/styles/index.min.css")
block body
    +header()
    main.main
        +banner()
        +catalog()
    +footer()
block script
    script(src="assets/scripts/index.min.js")